@model UniversityManagementSystemMVCApp.Models.ResultEntryView

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ResultEntryView</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.StudentRegistration.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudentRegistration.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Department)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Department)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ViewResultId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
