@model IEnumerable<UniversityManagementSystemMVCApp.Models.Designation>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DesignationType)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DesignationType)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.DesignationId }) |
            @Html.ActionLink("Details", "Details", new { id=item.DesignationId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.DesignationId })
        </td>
    </tr>
}

</table>
