@model IEnumerable<UniversityManagementSystemMVCApp.Models.Teacher>

@{
    ViewBag.Title = "Index";
}


<p>
    @Html.ActionLink("Create New", "Create",null, new { @class = "btn btn-warning" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Department.Code)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Designation.DesignationType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ContactNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreditToBeTaken)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Department.Code)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Designation.DesignationType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ContactNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreditToBeTaken)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TeacherId }) |
            @Html.ActionLink("Details", "Details", new { id=item.TeacherId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TeacherId })
        </td>
    </tr>
}

</table>
